[submodule "baton"]
	path = baton
	url = git@github.com:tesselode/baton.git
[submodule "brinevector"]
	path = brinevector
	url = git@github.com:novemberisms/brinevector.git
[submodule "peachy"]
	path = peachy
	url = git@github.com:josh-perry/peachy.git
[submodule "cartographer"]
	path = vendor/cartographer
	url = git@github.com:greenstack/cartographer.git
[submodule "vendor/gamera"]
	path = vendor/gamera
	url = git@github.com:kikito/gamera.git
[submodule "vendor/lua-star"]
	path = vendor/lua-star
	url = git://github.com/wesleywerner/lua-star
